# macOS junk files
.DS_Store

# Test executables
test/demo_oswrapper_audio_mac
test/demo_oswrapper_audio_mac_cpp
test/demo_oswrapper_audio_miniaudio
test/demo_oswrapper_audio_miniaudio.exe
test/demo_oswrapper_audio_miniaudio.obj
test/demo_oswrapper_audio_miniaudio_cpp
test/demo_oswrapper_audio_miniaudio_cpp.exe
test/demo_oswrapper_audio_miniaudio_cpp.obj
test/demo_oswrapper_audio_sokol_audio
test/demo_oswrapper_audio_sokol_audio.exe
test/demo_oswrapper_audio_sokol_audio.obj
test/demo_oswrapper_audio_sokol_audio_cpp
test/demo_oswrapper_audio_sokol_audio_cpp.exe
test/demo_oswrapper_audio_sokol_audio_cpp.obj
test/demo_oswrapper_audio_sokol_audio_no_crt.exe
test/demo_oswrapper_audio_sokol_audio_no_crt.obj
test/test_oswrapper_image
test/test_oswrapper_image.html
test/test_oswrapper_image.js
test/test_oswrapper_image.wasm
test/test_oswrapper_image.exe
test/test_oswrapper_image.obj
test/test_oswrapper_image_cpp
test/test_oswrapper_image_cpp.html
test/test_oswrapper_image_cpp.js
test/test_oswrapper_image_cpp.wasm
test/test_oswrapper_image_cpp.obj
test/test_oswrapper_image_cpp.exe
test/test_oswrapper_image_no_crt.exe
test/test_oswrapper_image_no_crt.obj
test/test_oswrapper_audio
test/test_oswrapper_audio.exe
test/test_oswrapper_audio.obj
test/test_oswrapper_audio_cpp
test/test_oswrapper_audio_cpp.exe
test/test_oswrapper_audio_cpp.obj
test/test_oswrapper_audio_no_crt.exe
test/test_oswrapper_audio_no_crt.obj
test/test_oswrapper_audio_enc
test/test_oswrapper_audio_enc_cpp
test/test_oswrapper_audio_enc_mod
test/test_oswrapper_audio_enc_mod_cpp
test/test_oswrapper_audio_mac_encoder
test/test_oswrapper_audio_mac_encoder_cpp
test/test_oswrapper_audio_win_encoder.exe
test/test_oswrapper_audio_win_encoder.obj
test/test_oswrapper_audio_win_encoder_cpp.exe
test/test_oswrapper_audio_win_encoder_cpp.obj
test/test_oswrapper_audio_win_encoder_no_crt.exe
test/test_oswrapper_audio_win_encoder_no_crt.obj
